<div class="hide-for-s sidebar-menu-btn">
  {{fa-icon "bars" size="2"}}
</div>

<h1>
  <a href="#" title="Kuberc">Kuberc</a>
</h1>

<div class="hide-for-s search-btn">
  {{fa-icon "search" size="2"}}
</div>

<ul class="show-for-l nav-group left">
  <li>
    <div class="wrapper">
      {{fa-icon "bars" size="2"}}
    </div>
  </li>
  <li>
    <div class="wrapper">
      {{fa-icon "expand" size="2"}}
    </div>
  </li>
  <li>
    <div class="wrapper">
      {{fa-icon "cogs" size="2"}}
    </div>
  </li>
</ul>

<ul class="show-for-s nav-group right">
  <li>
    <div class="wrapper">
      {{fa-icon "search" size="2"}}
    </div>
  </li>
  <li>
    <div class="wrapper">
      {{fa-icon "envelope" size="2"}}
      <span class="badge badge-success">4</span>
    </div>
  </li>
  <li>
    <div class="wrapper dropdown {{if showTasksDropdown 'open' ''}}"
      {{action "toggleTasksDropdown"}}>
      {{fa-icon "bell" size="2"}}
      <span class="badge badge-success">3</span>

      <ul class="dropdown-menu arrow-right size-l">
        <li>
          <p class="dropdown-title">You have 3 pending tasks !</p>
        </li>
        <li>
          <ul class="dropdown-notifications">
            <li>
              <a href="#">
                <p>{{fa-icon "thumbs-up"}} New user registered.</p>
                <span class="badge badge-roundless badge-default">1min ago</span>
              </a>
            </li>
            <li>
              <a href="#">
                <p>{{fa-icon "bomb"}} Database error.</p>
                <span class="badge badge-roundless badge-default">24min ago</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="badge badge-roundless badge-default pull-right">1h ago</span>
                <p>{{fa-icon "heart"}} Reached 24k likes</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="drop-all">
          <a href="#">All Tasks</a>
        </li>
      </ul>
    </div>
  </li>
  <li>
    <div class="hybird-wrapper dropdown {{if showUserDropdown 'open' ''}}"
      {{action "toggleUserDropdown"}}>
      <img class="avatar" src="/images/headers/default_user.png" width="30" height="30" alt="">
      <strong class="user-firstname">{{s.firstName}}</strong>
      {{! fa-icon "angle-down" size="2"}}

      <ul class="dropdown-menu arrow-right">
        <li>
          <a href="#" title="">
            {{fa-icon "user"}} Profile
          </a>
        </li>
        <li>
          <a href="#" title="">
            {{fa-icon "calendar"}} Calendar
          </a>
        </li>
        <li>
          <a href="#" title="">
            {{fa-icon "envelope"}} Inbox
          </a>
        </li>
        <li class="divider"></li>
        <li>
          {{#link-to 'logout' classNames='tab-item'}}
            {{fa-icon "sign-out"}}
            {{t "setting.button.logout"}}
          {{/link-to}}
        </li>
      </ul>
    </div>
  </li>
</ul>