<div class="hide-for-s sidebar-menu-btn">
  {{fa-icon "bars" size="2"}}
</div>

<h1>
  <a href="#" title="Kuberc">Kuberc</a>
</h1>

<div class="hide-for-s search-btn">
  {{fa-icon "search" size="2"}}
</div>

<ul class="show-for-l nav-group-left">
  <li>
    {{fa-icon "bars" size="2"}}
  </li>
  <li>
    {{fa-icon "expand" size="2"}}
  </li>
  <li class="dropdown">
    {{fa-icon "cogs" size="2"}}
  </li>
</ul>

<ul class="show-for-s nav-group-right">
  <li>
    <div class="wrapper">
      {{fa-icon "search" size="2"}}
    </div>
  </li>
  <li>
    <div class="wrapper">
      {{fa-icon "envelope" size="2"}}
      <span class="badge badge-success">4</span>
    </div>
  </li>
  <li>
    <div class="wrapper">
      {{fa-icon "bell" size="2"}}
      <span class="badge badge-success">3</span>
    </div>
  </li>
  <li>
    <div class="hybird-wrapper">
      <img class="avatar" src="/images/headers/default_user.png" width="30" height="30" alt="">
      <strong class="user-firstname">{{s.firstName}}</strong>
      {{! fa-icon "angle-down" size="2"}}
    </div>
  </li>
  <li>
    <button {{action "logoutAction"}}>
      {{t "setting.button.logout"}}
    </button>
  </li>
</ul>