<h1>
  <a href="#" title="kuberc">Kuberc</a>
</h1>

<p>
  Please log into your account.
</p>

<form>
  <div>
    {{input type='text' value=identification autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" placeholder=(t 'form.phone')}}
  </div>
  <div>
    {{input type='password' value=password placeholder=(t 'form.password')}}
  </div>
  <div>
    <button class="btn btn-success btn-block" {{action 'validateAndAuthenticate'}}>
      {{t "form.button.signin"}}
    </button>
  </div>
</form>

<p class="link-forgotten">
  {{#link-to 'forgotten'}}
    {{t "login.forgotten"}}
  {{/link-to}}
</p>

<div class="link-signup">
  {{#link-to 'signup' class="btn btn-default btn-block"}}
    {{t "nav.signup"}}
  {{/link-to}}
</div>

<p class="site-copyright">
  2015 &copy; Kuberc. Made with &hearts; by Kuberc Team.
</p>
