<div class='notification-info-icon'>
  {{#if (eq message.type "error")}}
    {{fa-icon "exclamation-triangle" size="2"}}
  {{else if (eq message.type "success")}}
    {{fa-icon "check" size="2"}}
  {{/if}}
</div>

<span class="message">
  {{{message.message}}}
</span>

<button class="close" {{action "closeNotification"}}>
  {{fa-icon "times" size="2"}}
</button>
